# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

# My files
pyrat_server/secrets
.idea
bin
include
lib
media/client_ups/*
pip-selfcheck.json
pyrat_uwsgi.ini
pyrat_server/uwsgi_params
pyrat_server/test1.py
pyrat_server/test2.py
pyrat_server/test3.py
pyrat_server/test4.py
pyrat_server/test5.py
