<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>:: pyrat :: clients</title>
</head>

<body>
    {% if user.is_authenticated %}
            <div id="table_cont">
                <table class="fixed">
                    <tbody>
                        {% for i in host_list %}
                            <tr>
                                {% autoescape off %}
                                        <td>{{ i.0 }}</td>
                                        <td><input type="checkbox" name="det_mac_{{ i.0 }}" class="selected_cli" id="det_mac_{{ i.0 }}" value="{{ i.1 }}">{{ i.1 }}</td>
                                        <td>{{ i.2 }}</td>
                                        <td>{{ i.3 }}</td>
                                        <td>{{ i.4 }}</td>
                                        <td>{{ i.5 }}</td>
                                        <td>{{ i.6 }}</td>
                                        <td>{{ i.7 }}</td>
                                        {% if i.8|length > 255 %}
                                            <td>{{ i.8|truncatechars:200 }}
                                                <br>
                                                <a href="#" id="more_{{ i.1 }}">-> CLICK FOR MORE <-</a>
                                                <script>
                                                document.getElementById("more_{{ i.1 }}").onclick = function() {
                                                var text = "{{ i.8 }}"
                                                var text_clear = text.replace(/<br>/g, "\n").replace(/\\/g, "\\\\");
                                                alert(text_clear);
                                                }
                                                </script>
                                            </td>
                                        {% else %}
                                            <td>{{ i.8 }}</td>
                                        {% endif %}
                                        {% if i.10|add:"0" < 300 and i.10|add:"0" > 0 %}
                                            <td bgcolor="#33cc33">{{ i.10 }}s. ago</td>
                                        {% elif i.10 == "N/A" %}
                                            <td bgcolor="#FF0000">N/A</td>
                                        {% else %}
                                            <td bgcolor="#FF0000">>300 s. ago</td>
                                        {% endif %}
                                        {% if i.11 is None %}
                                        <td>None</td>
                                        {% else %}
                                        <td><a href="/listfiles/{{ i.11 }}/" target="_blank">/{{ i.11 }}/</a></td>
                                        {% endif %}
                                {% endautoescape %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <script type="text/javascript">
                // Javascript function to keep selected field after refresh
                // This code was found on internet, this is not my code
                $('.selected_cli').on('click', function() {
                  var fav, favs = [];
                  $('.selected_cli').each(function() {
                    fav = {id: $(this).attr('id'), value: $(this).prop('checked')};
                    favs.push(fav);
                  });
                  localStorage.setItem("favorites", JSON.stringify(favs));
                });

                $(document).ready(function() {
                  var favorites = JSON.parse(localStorage.getItem('favorites'));
                  if (!favorites.length) {return};
                  console.debug(favorites);

                  for (var i=0; i<favorites.length; i++) {
                    console.debug(favorites[i].value == 'on');
                    $('#' + favorites[i].id ).prop('checked', favorites[i].value);
                  }
                });
                </script>
            </div>
    {% else %}
        User not authenticated.
        <br>
        <a href="/accounts/login/">CLICK TO LOGIN</a>
    {% endif %}
</body>

</html>