<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Join to network - manually</title>
</head>
<body>
<form action="/register/" method="post">
        <input type="text" name="det_mac" type="hidden">
        <input type="text" name="det_os" type="hidden">
        <input type="text" name="det_name" type="hidden">
        <input type="text" name="det_int_ip" type="hidden">
        <input type="text" name="det_ext_ip" type="hidden">
        <input type="submit" value="submit" type="hidden">
</body>
</html>